.sortable-wrapper {
  transition: transform 0.2s ease;
  z-index: 20;
}

.push-left {
  transform: translateX(-10px);
}

.push-right {
  transform: translateX(10px);
}

.sortable-wrapper:focus {
  filter: 
  drop-shadow(0.5px 1px 0.5px var(--color-focus-shadow))
  drop-shadow(-0.5px -0.5px 0.5px var(--color-focus-shadow))
  drop-shadow(1px -0.5px 0.5px var(--color-focus-shadow))
  drop-shadow(-0.5px 1px 0.5px var(--color-focus-shadow))
}